* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  text-align: center;

  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(190, 45, 138, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

main {
  animation: bounce-in-top 1.1s both;
}

.fortuneCookie {
  height: 15rem;
}

.fortuneCookie:hover {
  cursor: pointer;
  animation: shake 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.displayOne,
.displayTwo {
  display: flex;
  flex-direction: column;
  width: min(35rem, 90%);
  margin: 5rem auto;
  border-radius: 5px;
  padding: 4.8rem 5.0rem 5.0rem 5.0rem;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.9);
}

.displayOne,
.displayTwo h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.5rem;

  margin-bottom: 1.7rem;

  color: #34355B;
}

.displayOne p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2.0rem;
  margin-bottom: 1.5rem;
  margin-top: 1.7rem;

  color: #34355B;
}

.displayTwo p {
  display: flex;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 2.9rem;

  background: #E4EDF1;
  color: #000000;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  padding: 1.6rem;
  gap: 1.0rem;

  width: min(35rem, 90%);
  height: 5.2rem;

  background: #FF9500;
  border-radius: .4rem;


  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.0rem;

  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #f68f00;
  transition: 0.5s;
}

.ocult {
  display: none;
}

@keyframes shake {

  0%,
  100% {
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

@keyframes myAnim {
  0% {
    transform: translateY(-1.2rem) translateY(10rem);
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateY(0);
    transform: translateY(0);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateY(-65px);
    transform: translateY(-65px);
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateY(0);
    transform: translateY(0);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateY(-28px);
    transform: translateY(-28px);
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateY(0);
    transform: translateY(0);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateY(-8px);
    transform: translateY(-8px);
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0);
    transform: translateY(0);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}